{% extends 'base.html.twig' %}

{% block title %}{{ Laptops.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="{{ asset ('image/' ~ Laptops.image) }}" width="500px" height="400px">
            </div>
            <div>
                <h1 class="mt-4 mt-md-0">Name:   {{ Laptops.name }}</h1>
                <h1 class="mt-4 mt-md-0">Brand:  {{ Laptops.brand }}</h1>
                <h1 class="mt-4 mt-md-0">Color:  {{ Laptops.color }}</h1>
                <h1 class="mt-4 mt-md-0">Size:   {{ Laptops.size }}''</h1>
                <h1 class="mt-4 mt-md-0">Amount: {{ Laptops.amount }}</h1>
                <h1 class="mt-4 mt-md-0">Made in:{{ Laptops.madein }}</h1>
                <h1 class="mt-4 mt-md-0">price:  {{ Laptops.price }} $</h1>
                <h1 class="mt-4 mt-md-0">priceDiscount:{{ Laptops.priceDiscount }} $</h1>
            </div>
        </div>
    </div>
{% endblock %}