{# {% extends 'base.html.twig' %}

{% block title %}Hello LaptopController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/dady/xampp/htdocs/laptop2/src/Controller/LaptopController.php'|file_link(0) }}">src/Controller/LaptopController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/dady/xampp/htdocs/laptop2/templates/laptop/index.html.twig'|file_link(0) }}">templates/laptop/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %} #}

{% extends 'base.html.twig' %}
{% block title %}List of Laptops in ShopSon{% endblock %}
{% block body %}
<div class="container-fluid">
<a class="btn btn-primary" href="{{ path ('createLaptop') }}">Create New Laptop</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name of Laptop</th>
            <th scope="col">Color</th>
            <th scope="col">brand</th>
            <th scope="col">Size</th>
            <th scope="col">Amount</th>
            <th scope="col">Made in</th>
            <th scope="col">Price</th>
            <th scope="col">Price after discount</th>
        </tr>
    </thead>
    <tbody>
    {% for laptop in Laptops %}
        <tr>
            <td scope="row">{{ laptop.name }}</td>
            <td scope="row">{{ laptop.color }}</td>
            <td scope="row">{{ laptop.brand }}</td>
            <td scope="row">{{ laptop.size }}</td>
            <td scope="row">{{ laptop.amount }}</td>
            <td scope="row">{{ laptop.madein }}</td>
            <td scope="row">{{ laptop.price }}</td>            
            <td scope="row">{{ laptop.priceDiscount }}</td>            
            
            <td scope="row"> 
                <a class="btn btn-info" href="{{ path ( 'detailLaptop' , {'id' : laptop.id } ) }}">Detail</a>
                <a class="btn btn-warning" href="{{ path ( 'updateLaptop' , {'id' : laptop.id } ) }}">Update</a>
                <a class="btn btn-danger" href="{{ path ( 'deleteLaptop' , {'id' : laptop.id } ) }}"
                                          onclick = "return confirm('Are you sure to delete ?')"
                >Delete</a>
            </td>
        </tr> 
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
